{% extends "base.html" %}
{% block content %}

{% if empty %}
   <h1>{{empty_message}}</h1>
{% else %}

<table class="table">
<thead>
    <th>Item</th>
    <th>Price</th>
    <th>Qty</th>
</thead>
<tfoot>
    <tr>
        <td></td>
        <td>Cart Total: {{cart.total}}</td>
    </tr>
</tfoot>
    {% for item in cart.cartitem_set.all %}
    <tr><td>{{ item.product }}</td><td>{{ item.product.price }}</td><td>{{ item.quantity }}</td><td><a href='{% url "remove_from_cart" item.id %}'>Remove from Cart</a></td></tr>
    {% endfor %}

</table>
<br/>
<div class="row">
    <input type="text" name="coupon_code" class="form-control w-25">
    <button class="btn btn-secondary" onclick="applyCoupon()">Apply Coupon</button>
</div>

<a href='{% url "order_details" %}'>Order Summary</a>


<script>
    function applyCoupon(){
        let coupon_code = document.querySelector('input[name="coupon_code"]').value;
        console.log(coupon_code);
        let formData = new FormData();
        formData.append('coupon_code', coupon_code);
        const xhttp = new XMLHttpRequest();
        xhttp.open("POST", '{% url "apply_coupon" %}', true);
        xhttp.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        xhttp.send(formData);
    }
</script>

{% endif %}
{% endblock %}
